@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.calculator {
  min-width: 40%;
  margin: auto;
  outline: none;
  background-color: #000;
  font-family: 'Lato', sans-serif;

  /* margin-top: 2rem; */
  border: 2px solid #a5a5a5;
}

.calculator__Ui {
  padding: 1.3rem;
}

/* screen */
.screen {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2.5rem;
  border: none;
  background-color: #161515;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
}

button {
  background: #333;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  padding: 1.8rem 0.5rem;
  display: block;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #333;
  color: #fff;
  transform: translateY(-4px);
  font-weight: 700;
}

button:active .front {
  transform: translateY(-2px);
}

button:nth-of-type(4n) .front,
button:last-child .front {
  background: #fa6400;
}

button:nth-of-type(17) {
  grid-column: 1 / span 2;
}

button:nth-of-type(-n+3) .front {
  background-color: #a5a5a5;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.brand__link {
  font-size: 2rem;
  color: #000;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__item {
  padding: 0 1rem;
}

.nav__link {
  font-size: 1.2rem;
  color: #000;
}

.nav__link:hover {
  color: aqua;
  transition: 0.5s ease-in-out;
}

/* Home */
.home {
  height: 90vh;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  padding-top: 2rem;
  font-weight: 600;
}

/* Calculator */
.calculator__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1.8rem;
}

.calculator__container h3 {
  font-size: 2.2rem;
}

/* Quote */
.Quote {
  width: 90%;
  height: 90vh;
  margin: auto;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
